# Virtual environments
/.venv/
/venv/
/.venv-1/

# Python artifacts
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/

# Environment files
.env
.env.*
!.env.example

# Local data and logs
data/
logs/
*.log

dist/
build/
coverage/
htmlcov/

# IDE and editor settings
envlogs/
.idea/
.vscode/
/.coverage
.DS_Store
